{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="row">
      <a id="share" class="btn btn-primary" data-toggle="modal" href="{% url share user.get_profile.calendar.id %}" >Share Calendar</a>
      {% if user.get_profile.calendar.public %}
      <a id="unshare" class="btn btn-warning" data-toggle="modal" href="{% url unshare user.get_profile.calendar.id %}" >UnShare Calendar</a>
      {% endif %}
      <hr/>
    </div>
    {% include "calendar.html" %}
  {% else %}

    <h1>Wellcome to TodoApp Calendar</h1>

  {% endif %}
  
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>
  <script type="text/javascript">
    (function(){
      $.ajaxSetup({ 
           beforeSend: function(xhr, settings) {
               function getCookie(name) {
                   var cookieValue = null;
                   if (document.cookie && document.cookie != '') {
                       var cookies = document.cookie.split(';');
                       for (var i = 0; i < cookies.length; i++) {
                           var cookie = jQuery.trim(cookies[i]);
                           // Does this cookie string begin with the name we want?
                       if (cookie.substring(0, name.length + 1) == (name + '=')) {
                           cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                           break;
                       }
                   }
               }
               return cookieValue;
               }
               if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                   // Only send the token to relative URLs i.e. locally.
                   xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
               }
           } 
      });
    }).call(this);
  </script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
{% endblock %}

